{% extends 'base.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Details de l'Enseignant</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Matricule</th>
            <td>{{ enseignant.matricule }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ enseignant.nom }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ enseignant.telephone }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ enseignant.adresse }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ enseignant.ville }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('liste_enseignant') }}">back to list</a>



{% endblock %}
